<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./css/home.css">
        <div class="header">
            <div class="header-container">
                <div class="header-section s-first">
                    <div class="s-header">

                    </div> <!-- s-header -->
                    <div class="s-middle">


                    </div> <!-- s-middle -->
                    <div class="s-footer">

                    </div> <!-- s-footer -->

                </div> <!-- header-first -->

                <div class="header-section s-second">

                </div> <!-- header-second -->

                <div class="header-section s-third">

                </div> <!-- header-third -->
            </div> <!-- header-container -->
        </div> <!-- header -->
    </head>

    <body>

    </body>
</html>