<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./css/home.css">
        <div class="header">
            <div class="header-container">
                <div class="header-section s-first">
                    <div class="header-row1">

                        <div class="row-1-heading"><span id="heading-left">&#8414;  Words loaded</span></div>
                        <div class="row-1-big-number"><span id="big-number-left">171,476</span></div>
                    
                    </div> <!-- header-row1 -->
                    <div class="s-middle">
                        <div class="row-2-description"><span id="description-left">Started</span></div>
                        <div class="row-2-timeline">
                            <span id="started-time">10:29</span>
                            <span id="started-date">Wed, 10 May</span>
                        </div>
                    </div> <!-- s-middle -->
                    <div class="s-footer">
                        <div class="row-3-footer">
                            <div class="words-found">Words found</div>
                            <div class="words-found-number"><span id="words-found-number">0%</span></div>
                        </div> <!-- row-3-footer -->
                    </div> <!-- s-footer -->
                </div> <!-- header-section s-first -->

                <div class="header-section s-second">
                    <div class="header-row1">

                        <div class="row-1-heading"><span id="heading-left">&#8414;  Monkeys active</span></div>
                        <div class="row-1-big-number"><span id="big-number-left">0</span></div>
                    
                    </div> <!-- header-row1 -->
                    <div class="s-middle">
                        <div class="row-2-description"><span id="description-left">Combinations tried </span></div>
                        <div class="row-2-timeline">
                            <span id="started-time"></span>
                            <span id="started-date">47893247983298</span>
                        </div>
                    </div> <!-- s-middle -->
                    <div class="s-footer">
                        <div class="row-3-footer">
                            <div class="words-found">Successful hits</div>
                            <div class="words-found-number"><span id="words-found-number">0%</span></div>
                        </div> <!-- row-3-footer -->
                    </div> <!-- s-footer -->
                </div> <!-- header-second -->

                <div class="header-section s-third">
                    <div class="header-row1">

                        <div class="row-1-heading"><span id="heading-left">&#8414;  Sites found</span></div>
                        <div class="row-1-big-number"><span id="big-number-left">0</span></div>
                    
                    </div> <!-- header-row1 -->
                    <div class="s-middle">
                        <div class="row-2-description"><span id="description-left">Average words per site</span></div>
                        <div class="row-2-timeline">
                            <span id="started-time"></span>
                            <span id="started-date">2000</span>
                        </div>
                    </div> <!-- s-middle -->
                    <div class="s-footer">
                        <div class="row-3-footer">
                            <div class="words-found">Time taken</div>
                            <div class="words-found-number"><span id="words-found-number">4 hours</span></div>
                        </div> <!-- row-3-footer -->
                    </div> <!-- s-footer -->
                </div> <!-- header-third -->
            </div> <!-- header-container -->
        </div> <!-- header -->
    </head>

    <body>
        <div class="navigation-bar">
            <p>This is a the navigation bar</p>

        </div> <!-- navigation-bar -->

        <div class="main-page">
            <p>This is the main page</p>

        </div>

    </body>
</html>