<head>
    <link rel="stylesheet" type="text/css" href="./css/new_file.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <script src="./javascript/new_file.js"></script>
</head>

<body>
    <div class="top_header_layer">
        <div id="soup-container">
            <div class="dot_sentance>">
                <div class="dot_sentance__center">
                    <div class='sentance__half'>
                        <span class="sentance__left sentance-left">It always starts</span>
                    </div>

                    <span class="sentance__half_dot sentance-dot-wait">
                        <span class='dot sentance-dot'></span>
                    </span>

                    <span class="sentance__half">
                        <span class="sentance__right sentance-right">with an idea.</span>
                    </span>
                </div>
            </div>

            <div id="loader"></div>

            <div id="segments"></div>
        </div>
    </div>
    <div class="middle_scroll_layer">
        

    </div>
</body>

